@page
@model IndexModel
@{
    ViewData["Title"] = "Dogui12324";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form action="" method="post">
        <label for="">Ingresar nombre:</label>
        <input type="text" id="nombre" name="nombre" />
        <button type="submit">I'a button, Click me!</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.nombreUsuario)) {
        <p>¡Hola, @Model.nombreUsuario!</p>
    }
</div>


